@import url("https://fonts.cdnfonts.com/css/helveticaneuecyr-2");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  margin: 0;
  border-radius: 0;
  appearance: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "HelveticaNeueCyr", "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #4e254f;
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  body {
    font-size: 1.4rem;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

svg {
  height: auto;
  width: 20px;
}

i {
  display: inline-block;
}
i path {
  fill: currentColor;
}

button {
  cursor: pointer;
}

picture {
  display: block;
}

.overflow {
  overflow: hidden;
}

.icon-arrow-down {
  width: 8px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 9;
}
@media only screen and (max-width: 992px) {
  .header .language {
    display: none;
  }
}

.header__left {
  display: flex;
  align-items: center;
  padding: 24px 86px 24px 80px;
  background-color: #f7f8fc;
}
@media only screen and (max-width: 1440px) {
  .header__left {
    padding: 24px 40px;
  }
}
@media only screen and (max-width: 992px) {
  .header__left {
    padding: 35px 14px 35px 34px;
  }
}
@media only screen and (max-width: 480px) {
  .header__left {
    width: 98px;
    padding: 14px 14px 20px 25px;
  }
}

.header__logo {
  margin-right: 50px;
}
@media only screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__btn {
  margin-right: 80px;
}
@media only screen and (max-width: 1440px) {
  .header__btn {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .header__btn {
    margin-right: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .header__btn {
    margin-right: 24px;
  }
}

.logo__link {
  display: block;
  font: 4rem/4.8rem "HelveticaNeueCyr";
  font-weight: 900;
  color: #4e254f;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .logo__link {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

.language {
  display: flex;
}

.language__link {
  font: 1.4rem/1.6rem "HelveticaNeueCyr";
  font-weight: 400;
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: all 0.2s;
  color: #4e254f;
  text-transform: uppercase;
  opacity: 0.25;
}
.language__link:hover {
  border: 1px solid #4e254f;
}
.language__link.is-active {
  color: #4e254f;
  opacity: 1;
}
.language__link.is-active:hover {
  border-color: transparent;
  cursor: default;
}

.btn-menu {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: all 0.3s;
}
.btn-menu:hover i:nth-child(1) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(2) {
  width: 100%;
  transform: translateX(-50%);
}
.btn-menu:hover i:nth-child(3) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(4) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(5) {
  width: 100%;
  transform: translateX(-50%);
}
.btn-menu:hover i:nth-child(6) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(7) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(8) {
  width: 100%;
  transform: translateX(-50%);
}
.btn-menu:hover i:nth-child(9) {
  transform: scale(0);
}
.btn-menu.is-active {
  transform: rotate(45deg);
}
.btn-menu.is-active i:nth-child(1) {
  transform: scale(1);
  opacity: 0.25;
}
.btn-menu.is-active i:nth-child(2) {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-menu.is-active i:nth-child(3) {
  transform: scale(1);
  opacity: 0.25;
}
.btn-menu.is-active i:nth-child(4) {
  transform: scale(0);
}
.btn-menu.is-active i:nth-child(5) {
  transform: scale(0);
}
.btn-menu.is-active i:nth-child(6) {
  transform: scale(0);
}
.btn-menu.is-active i:nth-child(7) {
  transform: scale(1);
  opacity: 0.25;
}
.btn-menu.is-active i:nth-child(8) {
  width: 100%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) rotate(90deg);
}
.btn-menu.is-active i:nth-child(9) {
  transform: scale(1);
  opacity: 0.25;
}
.btn-menu i {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #4e254f;
  transform-origin: center center;
  transition: all 0.2s;
}
.btn-menu i:nth-child(1) {
  top: 0;
  left: 0;
}
.btn-menu i:nth-child(2) {
  top: 0;
  left: calc(50% - 2px);
}
.btn-menu i:nth-child(3) {
  top: 0;
  right: 0;
}
.btn-menu i:nth-child(4) {
  top: calc(50% - 2px);
  left: 0;
}
.btn-menu i:nth-child(5) {
  top: calc(50% - 2px);
  left: calc(50% - 2px);
}
.btn-menu i:nth-child(6) {
  top: calc(50% - 2px);
  right: 0;
}
.btn-menu i:nth-child(7) {
  bottom: 0;
  left: 0;
}
.btn-menu i:nth-child(8) {
  bottom: 0;
  left: calc(50% - 2px);
}
.btn-menu i:nth-child(9) {
  bottom: 0;
  right: 0;
}

.menu {
  position: fixed;
  top: 96px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 96px);
  padding: 120px 180px 56px;
  background-color: #fff;
  transform: translateY(-100%);
  transition: all 0.3s;
  overflow-y: auto;
  z-index: 8;
}
@media only screen and (max-width: 1440px) {
  .menu {
    padding: 100px 100px 50px;
  }
}
@media only screen and (max-width: 992px) {
  .menu {
    top: 74px;
    height: calc(100% - 74px);
    padding: 80px;
  }
}
@media only screen and (max-width: 480px) {
  .menu {
    padding: 40px;
  }
}
.menu.is-open {
  transform: translateY(0);
}

.menu__nav {
  margin-bottom: 50px;
}
.menu__nav li {
  margin-bottom: 32px;
}
.menu__nav li:last-child {
  margin-bottom: 0;
}
.menu__nav a {
  font: 3rem/4rem "HelveticaNeueCyr";
  font-weight: 400;
  display: block;
  color: #4e254f;
  opacity: 0.25;
  transition: all 0.2s;
}
@media only screen and (max-width: 992px) {
  .menu__nav a {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu__nav a {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
.menu__nav a:hover {
  opacity: 1;
}

.menu__copyright {
  font: 1.2rem/1.6rem "HelveticaNeueCyr";
  font-weight: 400;
  color: #ccc;
}
.menu__copyright span {
  color: lightcoral;
}

.banner-slider__item-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: calc(1080px - 96px);
  padding: 100px 0 0 180px;
  background-image: url("../img/banner/hero-bg-desk.jpg");
  background-size: 100% 100%;
}
@media only screen and (max-width: 1440px) {
  .banner-slider__item-inner {
    min-height: calc(1024px - 96px);
    padding: 50px 0 0 100px;
  }
}
@media only screen and (max-width: 992px) {
  .banner-slider__item-inner {
    min-height: calc(1024px - 118px);
    padding: 50px 0 0 32px;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider__item-inner {
    min-height: calc(812px - 74px);
    padding: 87px 24px;
  }
}

.banner-slider-small {
  order: 3;
  align-self: flex-end;
  width: 948px;
}
@media only screen and (max-width: 1440px) {
  .banner-slider-small {
    width: 790px;
  }
}
@media only screen and (max-width: 992px) {
  .banner-slider-small {
    width: 354px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider-small {
    order: 1;
    width: 100%;
  }
}
.banner-slider-small .slick-dots {
  position: absolute;
  top: 56px;
  left: 56px;
  display: flex;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small .slick-dots {
    top: 24px;
    left: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider-small .slick-dots {
    left: 16px;
  }
}
.banner-slider-small .slick-dots li {
  margin-right: 14px;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small .slick-dots li {
    margin-right: 18px;
  }
}
.banner-slider-small .slick-dots li:last-child {
  margin-right: 0;
}
.banner-slider-small .slick-dots button {
  font: 1.6rem/2.4rem "HelveticaNeueCyr";
  font-weight: 400;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #9accc2;
  opacity: 0.25;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small .slick-dots button {
    font-size: 1.4rem;
  }
}
.banner-slider-small .slick-dots .slick-active button {
  font-weight: 700;
  opacity: 1;
}

.banner-slider-small__item-inner {
  display: flex;
  height: 256px;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small__item-inner {
    height: auto;
  }
}

.banner-slider-small__content {
  position: relative;
  width: 56%;
  padding: 100px 22px 30px 56px;
  background-color: #4e254f;
  color: #9accc2;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small__content {
    width: 100%;
    padding: 60px 32px 24px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider-small__content {
    padding: 54px 16px 24px;
  }
}
.banner-slider-small__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
  height: 100%;
  width: 80px;
  background-color: #4e254f;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
@media only screen and (max-width: 992px) {
  .banner-slider-small__content::before {
    display: none;
  }
}

.banner-slider-small__title {
  font: 2.4rem/3.2rem "HelveticaNeueCyr";
  font-weight: 700;
  margin-bottom: 16px;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small__title {
    font-size: 1.8rem;
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider-small__title {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 992px) {
  .banner-slider-small__description {
    font-size: 1.4rem;
  }
}

.banner-slider-small__picture {
  width: 44%;
}
@media only screen and (max-width: 992px) {
  .banner-slider-small__picture {
    display: none;
  }
}
.banner-slider-small__picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-slider__content {
  order: 2;
  width: 792px;
  min-height: 432px;
  padding: 76px 40px;
  background-color: #9accc2;
}
@media only screen and (max-width: 1440px) {
  .banner-slider__content {
    width: 550px;
  }
}
@media only screen and (max-width: 992px) {
  .banner-slider__content {
    min-height: auto;
    width: 381px;
    padding: 52px 24px 60px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider__content {
    width: 100%;
    padding: 32px 16px;
  }
}

.banner-slider__title {
  font: 6rem/7.2rem "HelveticaNeueCyr";
  font-weight: 900;
  margin-bottom: 35px;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .banner-slider__title {
    font-size: 4.2rem;
    line-height: 5.4rem;
    margin-bottom: 26px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider__title {
    font-size: 3rem;
    line-height: 3.9rem;
    margin-bottom: 8px;
  }
}

.banner-slider__link {
  position: relative;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  align-self: flex-end;
  min-width: 261px;
  padding: 20px 90px 20px 22px;
  margin-right: 180px;
  background-color: #4e254f;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 1440px) {
  .banner-slider__link {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 992px) {
  .banner-slider__link {
    font-size: 1.6rem;
    align-self: flex-end;
    margin-right: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .banner-slider__link {
    font-size: 1.4rem;
    order: 3;
    width: 100%;
    padding: 12px 72px 12px 32px;
    margin-top: 15px;
    margin-right: 0;
  }
}
.banner-slider__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 73px;
  width: 1px;
  height: 100%;
  background-color: #fff;
  transform: skewX(-17deg);
}
@media only screen and (max-width: 480px) {
  .banner-slider__link::before {
    right: 54px;
  }
}
.banner-slider__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9accc2;
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.banner-slider__link:hover::before {
  background-color: #4e254f;
  z-index: 1;
}
.banner-slider__link:hover::after {
  transform: scaleX(1);
  transform-origin: center left;
}
.banner-slider__link:hover span {
  color: #4e254f;
}
.banner-slider__link:hover i {
  transform: translate(5px, -50%);
  background-image: url("../img/svg/arrow-right_hover.svg");
}
.banner-slider__link span,
.banner-slider__link i {
  transition: all 0.3s;
  z-index: 1;
}
.banner-slider__link i {
  position: absolute;
  top: 50%;
  right: 31px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 480px) {
  .banner-slider__link i {
    right: 18px;
  }
}

.banner-slider__link-icon {
  height: 16px;
  width: 16px;
  background: url("../img/svg/arrow-right.svg") no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
