@import url("https://fonts.cdnfonts.com/css/helveticaneuecyr-2");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  margin: 0;
  border-radius: 0;
  appearance: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "HelveticaNeueCyr", "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #4e254f;
  background-color: #fff;
}

img,
svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

svg {
  height: auto;
  width: 20px;
}

i {
  display: inline-block;
}
i path {
  fill: currentColor;
}

button {
  cursor: pointer;
}

picture {
  display: block;
}

.container {
  padding: 0 5%;
}
@media only screen and (max-width: 1080px) {
  .container {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 859px) {
  .container {
    padding: 0;
  }
}

.container__inner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.icon-arrow-down {
  width: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header__left {
  display: flex;
  align-items: center;
  padding: 24px 90px 24px 80px;
  background-color: #f7f8fc;
}

.header__logo {
  margin-right: 46px;
}

.header__btn {
  margin-right: 80px;
}

.logo__link {
  font: 4rem/4.8rem "HelveticaNeueCyr";
  font-weight: 900;
  text-transform: uppercase;
}

.language {
  display: flex;
}

.language__link {
  font: 1.4rem/1.6rem "HelveticaNeueCyr";
  font-weight: 400;
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: all 0.2s;
  color: #4e254f;
  text-transform: uppercase;
  opacity: 0.25;
}
.language__link:hover {
  border: 1px solid #4e254f;
}
.language__link.is-active {
  color: #4e254f;
  opacity: 1;
}
.language__link.is-active:hover {
  border-color: transparent;
  cursor: default;
}

.btn-menu {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: all 0.3s;
}
.btn-menu:hover i:nth-child(1) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(2) {
  width: 100%;
  transform: translateX(-50%);
}
.btn-menu:hover i:nth-child(3) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(4) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(5) {
  width: 100%;
  transform: translateX(-50%);
}
.btn-menu:hover i:nth-child(6) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(7) {
  transform: scale(0);
}
.btn-menu:hover i:nth-child(8) {
  width: 100%;
  transform: translateX(-50%);
}
.btn-menu:hover i:nth-child(9) {
  transform: scale(0);
}
.btn-menu i {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #4e254f;
  transform-origin: center center;
  transition: all 0.2s;
}
.btn-menu i:nth-child(1) {
  top: 0;
  left: 0;
}
.btn-menu i:nth-child(2) {
  top: 0;
  left: calc(50% - 2px);
}
.btn-menu i:nth-child(3) {
  top: 0;
  right: 0;
}
.btn-menu i:nth-child(4) {
  top: calc(50% - 2px);
  left: 0;
}
.btn-menu i:nth-child(5) {
  top: calc(50% - 2px);
  left: calc(50% - 2px);
}
.btn-menu i:nth-child(6) {
  top: calc(50% - 2px);
  right: 0;
}
.btn-menu i:nth-child(7) {
  bottom: 0;
  left: 0;
}
.btn-menu i:nth-child(8) {
  bottom: 0;
  left: calc(50% - 2px);
}
.btn-menu i:nth-child(9) {
  bottom: 0;
  right: 0;
}

.banner-slider__item-inner {
  position: relative;
  min-height: calc(1080px - 96px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 90px 180px 50px;
  background-image: url("../img/banner/hero-bg-desk.jpg");
  background-size: 100% 100%;
}

.banner-slider-small {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 972px);
}
.banner-slider-small .slick-dots {
  position: absolute;
  top: 56px;
  left: 56px;
  display: flex;
}
.banner-slider-small .slick-dots li {
  margin-right: 14px;
}
.banner-slider-small .slick-dots li:last-child {
  margin-right: 0;
}
.banner-slider-small .slick-dots button {
  font: 1.6rem/2.4rem "HelveticaNeueCyr";
  font-weight: 700;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #9accc2;
  opacity: 0.25;
}
.banner-slider-small .slick-dots .slick-active button {
  opacity: 1;
}

.banner-slider-small__item-inner {
  display: flex;
  height: 256px;
}

.banner-slider-small__content {
  position: relative;
  width: 56%;
  padding: 100px 22px 30px 56px;
  background-color: #4e254f;
  color: #9accc2;
}
.banner-slider-small__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
  height: 100%;
  width: 80px;
  background-color: #4e254f;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.banner-slider-small__title {
  font: 2.4rem/3.2rem "HelveticaNeueCyr";
  font-weight: 700;
  margin-bottom: 16px;
}

.banner-slider-small__description {
  font: 1.6rem/2.4rem "HelveticaNeueCyr";
  font-weight: 400;
}

.banner-slider-small__picture {
  width: 44%;
}
.banner-slider-small__picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-slider__content {
  max-width: 792px;
  min-height: 432px;
  padding: 80px 40px;
  background-color: #9accc2;
}

.banner-slider__title {
  font: 6rem/7.2rem "HelveticaNeueCyr";
  font-weight: 900;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.banner-slider__link {
  position: absolute;
  top: 232px;
  right: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 261px;
  padding: 20px 32px;
  background-color: #4e254f;
  color: #fff;
  text-transform: uppercase;
}
.banner-slider__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 73px;
  width: 1px;
  height: 100%;
  background-color: #fff;
  transform: skewX(-17deg);
}
.banner-slider__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9accc2;
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.banner-slider__link:hover::before {
  background-color: #4e254f;
  z-index: 1;
}
.banner-slider__link:hover::after {
  transform: scaleX(1);
  transform-origin: center left;
}
.banner-slider__link:hover span {
  color: #4e254f;
}
.banner-slider__link:hover i {
  transform: translateX(5px);
  background-image: url("../img/svg/arrow-right_hover.svg");
}
.banner-slider__link span,
.banner-slider__link i {
  transition: all 0.3s;
  z-index: 1;
}

.banner-slider__link-icon {
  height: 16px;
  width: 16px;
  background: url("../img/svg/arrow-right.svg") no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
