.banner-slider__item-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: calc(1080px - 96px);
  padding: 100px 0 0 180px;
  background-image: url("../img/banner/hero-bg-desk.jpg");
  background-size: 100% 100%;
  @media only screen and (max-width: 1440px) {
    min-height: calc(1024px - 96px);
    padding: 50px 0 0 100px;
  }
  @media only screen and (max-width: 992px) {
    padding: 50px 0 0 32px;
    background-size: cover;
    background-position: center;
  }
  @media only screen and (max-width: 480px) {
    min-height: calc(812px - 74px);
    padding: 87px 24px;
  }
}
.banner-slider-small {
  order: 3;
  align-self: flex-end;
  width: 948px;
  @media only screen and (max-width: 1440px) {
    width: 790px;
  }
  @media only screen and (max-width: 992px) {
    width: 354px;
  }
  @media only screen and (max-width: 480px) {
    order: 1;
    width: 100%;
  }
  .slick-dots {
    position: absolute;
    top: 56px;
    left: 56px;
    display: flex;
    @media only screen and (max-width: 992px) {
      top: 24px;
      left: 32px;
    }
    @media only screen and (max-width: 480px) {
      left: 16px;
    }
    li {
      margin-right: 14px;
      @media only screen and (max-width: 992px) {
        margin-right: 18px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      font: 1.6rem/2.4rem "HelveticaNeueCyr";
      font-weight: 400;
      padding: 0;
      border: 0;
      background-color: transparent;
      color: $color-additional;
      opacity: 0.25;
      @media only screen and (max-width: 992px) {
        font-size: 1.4rem;
      }
    }
    .slick-active {
      button {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}
.banner-slider-small__item-inner {
  display: flex;
  height: 256px;
  @media only screen and (max-width: 992px) {
    height: 220px;
  }
  @media only screen and (max-width: 480px) {
    height: auto;
  }
}
.banner-slider-small__content {
  position: relative;
  width: 56%;
  padding: 100px 22px 30px 56px;
  background-color: $color-primary;
  color: $color-additional;
  @media only screen and (max-width: 992px) {
    width: 100%;
    padding: 60px 32px 24px;
  }
  @media only screen and (max-width: 480px) {
    padding: 54px 16px 24px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    height: 100%;
    width: 80px;
    background-color: $color-primary;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
}
.banner-slider-small__title {
  font: 2.4rem/3.2rem "HelveticaNeueCyr";
  font-weight: 700;
  margin-bottom: 16px;
  @media only screen and (max-width: 992px) {
    font-size: 1.8rem;
    margin-bottom: 8px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 6px;
  }
}
.banner-slider-small__description {
  @media only screen and (max-width: 992px) {
    font-size: 1.4rem;
  }
}
.banner-slider-small__picture {
  width: 44%;
  @media only screen and (max-width: 992px) {
    display: none;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.banner-slider__content {
  order: 2;
  width: 792px;
  min-height: 432px;
  padding: 76px 40px;
  background-color: $color-additional;
  @media only screen and (max-width: 1440px) {
    width: 550px;
  }
  @media only screen and (max-width: 992px) {
    min-height: auto;
    width: 381px;
    padding: 56px 24px;
  }
  @media only screen and (max-width: 480px) {
    width: 100%;
    padding: 32px 16px;
  }
}
.banner-slider__title {
  font: 6rem/7.2rem "HelveticaNeueCyr";
  font-weight: 900;
  margin-bottom: 35px;
  text-transform: uppercase;
  @media only screen and (max-width: 992px) {
    font-size: 4.2rem;
    line-height: 5.4rem;
    margin-bottom: 24px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 3rem;
    line-height: 3.9rem;
    margin-bottom: 8px;
  }
}
.banner-slider__link {
  position: relative;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  align-self: flex-end;
  min-width: 261px;
  padding: 20px 90px 20px 22px;
  margin-right: 180px;
  background-color: $color-primary;
  color: $color-white;
  text-transform: uppercase;
  @media only screen and (max-width: 1440px) {
    margin-right: 100px;
  }
  @media only screen and (max-width: 992px) {
    font-size: 1.6rem;
    align-self: flex-end;
    margin-right: 32px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 1.4rem;
    order: 3;
    width: 100%;
    padding: 12px 72px 12px 32px;
    margin-top: 15px;
    margin-right: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 73px;
    width: 1px;
    height: 100%;
    background-color: $color-white;
    transform: skewX(-17deg);
    @media only screen and (max-width: 480px) {
      right: 54px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-additional;
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover {
    &::before {
      background-color: $color-primary;
      z-index: 1;
    }
    &::after {
      transform: scaleX(1);
      transform-origin: center left;
    }
    span {
      color: $color-primary;
    }
    i {
      transform: translate(5px, -50%);
      background-image: url("../img/svg/arrow-right_hover.svg");
    }
  }
  span,
  i {
    transition: all 0.3s;
    z-index: 1;
  }
  i {
    position: absolute;
    top: 50%;
    right: 31px;
    transform: translateY(-50%);
    @media only screen and (max-width: 480px) {
      right: 18px;
    }
  }
}
.banner-slider__link-icon {
  height: 16px;
  width: 16px;
  background: url("../img/svg/arrow-right.svg") no-repeat;
  background-size: contain;
}
