*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: "HelveticaNeueCyr", "Segoe UI", "SegoeUI", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $color-primary;
  background-color: $color-background;
  @media only screen and (max-width: 992px) {
    font-size: 1.4rem;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

svg {
  height: auto;
  width: 20px;
}

i {
  display: inline-block;
  path {
    fill: currentColor;
  }
}

button {
  cursor: pointer;
}

picture {
  display: block;
}

.overflow {
  overflow: hidden;
}

.icon-arrow-down {
  width: 8px;
}
