*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.6rem;
  color: $color-text;
  height: calc(100vh + 200px);
  background: #e6f9ff;
}

img,
svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

svg {
  height: auto;
  width: 20px;
}

i {
  display: inline-block;
  path {
    fill: currentColor;
  }
}

a,
button {
  color: $color-text;
}

button {
  cursor: pointer;
}

picture {
  display: block;
}

.container {
  padding: 0 5%;
  @media only screen and (max-width: 1080px) {
    padding: 0 24px;
  }
  @media only screen and (max-width: 859px) {
    padding: 0;
  }
}

.container__inner {
  width: 100%;
  max-width: $site_width + px;
  margin: 0 auto;
}

.icon-arrow-down {
  width: 8px;
}
